@import url(../../common/css/menustyle.css);

@import url(../../common/css/jshover.css);

/*****************************
 * MOO MENU
 *****************************/
ul.navi div.fxcontent {
	position: absolute;
	display: block;
	box-shadow:4px 4px 4px #777;
}

ul.navi div.fxcontent>ul.subnavi.insidefx {
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
}

/* LTR SLIDE */
ul.navi div.fxcontent.slide.drop>ul.subnavi.insidefx {
	bottom: 0;
	left: 0;
	right: 0;
}

ul.navi div.fxcontent.slide.toleft>ul.subnavi.insidefx {
	top: 0;
	left: 0;
}

ul.navi div.fxcontent.slide.toright>ul.subnavi.insidefx {
	top: 0;
	right: 0;
}

/* LTR SCROLL */
ul.navi div.fxcontent.scroll.drop>ul.subnavi.insidefx {
	top: 0;
	left: 0;
}

ul.navi div.fxcontent.scroll.toleft>ul.subnavi.insidefx {
	top: 0;
	right: 0;
}

ul.navi div.fxcontent.scroll.toright>ul.subnavi.insidefx {
	top: 0;
	left: 0;
}

ul.navi div.fxcontent>div.fxcontent-bar { /* as ul background */
	background: #666;
	display: block;
	position: absolute;
}

ul.navi div.fxcontent.slide.drop>div.fxcontent-bar {
	top: 0;
	left: 0;
}

ul.navi div.fxcontent.slide.toleft>div.fxcontent-bar {
	top: 0;
	right: 0;
}

ul.navi div.fxcontent.slide.toright>div.fxcontent-bar {
	top: 0;
	left: 0;
}

ul.navi div.fxcontent.scroll.drop>div.fxcontent-bar {
	bottom: 0;
	left: 0;
}

ul.navi div.fxcontent.scroll.toleft>div.fxcontent-bar {
	bottom: 0;
	left: 0;
}

ul.navi div.fxcontent.scroll.toright>div.fxcontent-bar {
	bottom: 0;
	right: 0;
}

ul.navi div.fxcontent>div.fxcontent-pinner {
	background: #f00;
	display: block;
	position: absolute;
	top: -8px;
	left: -8px;
	width: 16px;
	height: 16px;
}

/** for RTL **/
ul.navirtl div.fxcontent {
	position: absolute;
	display: block;
	box-shadow:-4px 4px 4px #777;
	-moz-box-shadow:-4px 4px 4px #777;
	-webkit-box-shadow:-4px 4px 4px #777;
}

ul.navirtl div.fxcontent>ul.subnavi.insidefx {
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
}

ul.navirtl div.fxcontent.slide.drop>ul.subnavi.insidefx {
	bottom: 0;
	right: 0;
}

ul.navirtl div.fxcontent.slide.toleft>ul.subnavi.insidefx {
	top: 0;
	left: 0;
}

ul.navirtl div.fxcontent.slide.toright>ul.subnavi.insidefx {
	top: 0;
	right: 0;
}

ul.navirtl div.fxcontent.scroll.drop>ul.subnavi.insidefx {
	top: 0;
	right: 0;
}

ul.navirtl div.fxcontent.scroll.toleft>ul.subnavi.insidefx {
	top: 0;
	right: 0;
}

ul.navirtl div.fxcontent.scroll.toright>ul.subnavi.insidefx {
	top: 0;
	left: 0;
}

ul.navirtl div.fxcontent>div.fxcontent-bar { /* as ul background */
	background: #666;
	display: block;
	position: absolute;
}

ul.navirtl div.fxcontent.slide.drop>div.fxcontent-bar {
	top: 0;
	right: 0;
}

ul.navirtl div.fxcontent.slide.toleft>div.fxcontent-bar {
	top: 0;
	right: 0;
}

ul.navirtl div.fxcontent.slide.toright>div.fxcontent-bar {
	top: 0;
	left: 0;
}

ul.navirtl div.fxcontent.scroll.drop>div.fxcontent-bar {
	bottom: 0;
	left: 0;
}

ul.navirtl div.fxcontent.scroll.toleft>div.fxcontent-bar {
	bottom: 0;
	left: 0;
}

ul.navirtl div.fxcontent.scroll.toright>div.fxcontent-bar {
	bottom: 0;
	right: 0;
}

ul.navirtl div.fxcontent>div.fxcontent-pinner {
	background: #f00;
	display: block;
	position: absolute;
	top: -8px;
	left: -8px;
	width: 16px;
	height: 16px;
}