.gitignore
.htaccess
administrator/cache/*
administrator/components/index.html
administrator/help/*
administrator/includes/*
administrator/language/index.html
administrator/manifests/*
administrator/templates/bluestork/*
administrator/templates/hathor/*
administrator/templates/system/*
administrator/templates/index.html
administrator/index.php
cache/*
components/index.html
images/banners/*
images/sampledata/*
images/joomla*
images/index.html
images/powered_by.png
includes/*
installation/*
language/index.html
libraries/joomla/*
libraries/phpmailer/*
libraries/phputf8/*
libraries/simplepie/*
libraries/index.html
libraries/loader.php
logs/*
media/contacts/*
media/editors/*
media/mailto/*
media/media/*
media/mod_languages/*
media/system/*
media/index.html
modules/index.html
plugins/authentication/example/*
plugins/authentication/gmail/*
plugins/authentication/joomla/*
plugins/authentication/ldap/*
plugins/authentication/index.html
plugins/editors/codemirror/*
plugins/editors/none/*
plugins/editors/tinymce/*
plugins/editors/index.html
plugins/editors-xtd/article/*
plugins/editors-xtd/image/*
plugins/editors-xtd/pagebreak/*
plugins/editors-xtd/readmore/*
plugins/editors-xtd/index.html
plugins/extension/example/*
plugins/extension/joomla/*
plugins/extension/index.html
plugins/search/categories/*
plugins/search/contacts/*
plugins/search/content/*
plugins/search/newsfeeds/*
plugins/search/weblinks/*
plugins/search/index.html
plugins/system/cache/*
plugins/system/debug/*
plugins/system/languagefilter/*
plugins/system/log/*
plugins/system/logout/*
plugins/system/p3p/*
plugins/system/redirect/*
plugins/system/remember/*
plugins/system/sef/*
plugins/system/index.html
plugins/user/contactcreator/*
plugins/user/example/*
plugins/user/joomla/*
plugins/user/profile/*
plugins/user/index.html
plugins/index.html
templates/system/*
templates/index.html
tmp/*
configuration.php
index.php
joomla.xml
*.txt
