#meganavigator ul.subnavi {
	position: static;
	left: auto;
	right: auto;
	margin: 0;
	padding: 0;
}


/* left to right */
ul.navi div.mega-content {
	position: absolute;
	left: -999em;
	padding: 0;
	margin: 0;
	background: #002b66;
	display: block;
	float: left;
	padding: 0;
	z-index: 10;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6), 0 0 9px rgba(255, 255, 255, 0.1) inset;
}
ul.navi div.level2.mega-content{
	box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
	background: #002b66;
}
/* mega inner */
ul.navi div.mega-content-inner {
	float: left;
	display: block;
	padding: 0;
	margin: 0;
}

/* cols */
ul.navi div.mega-col {
	margin: 0;
	float: left;
	display: block;
}

ul.navi div.mega-col.more{
	padding:0 0 3px 0 ;
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
ul.navi div.mega-col.first.more {
	
}
ul.navi div.mega-col.last.more {
	
	
}
/* ul on col */
ul.navi div.mega-content.level2 ul.megachild.level2 {
	float: left;
}

/* FOR MEGA-ITEM */
ul.navi div.mega-group {
	padding: 0;
	margin: 0;
	/*overflow:hidden;*/
}

ul.navi div.mega-group div.mega-group-title{
	border: 0px ;
	border-bottom: 1px dashed #586c86;
	margin: 0;
	background: rgb(11,53,109); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(11,53,109,1) 0%, rgba(0,31,73,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(11,53,109,1)), color-stop(100%,rgba(0,31,73,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(11,53,109,1) 0%,rgba(0,31,73,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(11,53,109,1) 0%,rgba(0,31,73,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(11,53,109,1) 0%,rgba(0,31,73,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(11,53,109,1) 0%,rgba(0,31,73,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b356d', endColorstr='#001f49',GradientType=0 ); /* IE6-9 */
	/* IE6-9 */

}
ul.navi div.mega-group div.mega-group-title div.separator,
ul.navi div.mega-group div.mega-group-title a{
	color: #fff;
	font-size: 130%;
	padding: 0 0 0 45px;
	background-position: 21px 13px;
}
ul.navi div.mega-col.first div.mega-group div.mega-group-title div.separator,
ul.navi div.mega-col.first div.mega-group div.mega-group-title a{
	padding:0 0 0 35px;
	background-position: 13px 13px;
}
ul.navi div.mega-group div.mega-group-title span.menu-icon{
}
ul.navi div.mega-group div.mega-group-title span.menu-title{
	text-transform: uppercase;
	padding:10px  0;
	line-height: 18px;
}

ul.navi div.mega-group div.mega-group-title .showdesc span.menu-title{
}
ul.navi div.mega-group div.mega-group-title span.menu-desc{
}

ul.navi div.mega-group div.mega-group-content{
	
}
#meganavigator div.mega-col div.mega-group div.mega-group-content>ul.subnavi{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0 8px;
}
#meganavigator div.mega-col.first div.mega-group div.mega-group-content>ul.subnavi{padding: 0 8px 0 0;}
#meganavigator div.mega-col.last div.mega-group div.mega-group-content>ul.subnavi{padding: 0 0 0 8px;}

ul.navi div.mega-group div.mega-group-content>ul.subnavi>li{
	background: transparent;
	margin: 0;
	padding: 0;
	position: relative;
}
#meganavigator div.level2.mega-content ul.subnavi > li.havechild {
	background: url(../images/menu-havechild.png) no-repeat 97% 13px;
}

/*FOR MEGA-MODULE*/
ul.navi div.mega-module {margin: 15px 15px 5px;color: #fff;}

ul.navi div.mega-module h3 {
	margin: 5px 0 10px 0;
	color: #FFF;
	font-size: 100%;
	text-transform: uppercase;
}
ul.navi div.mega-module p{margin: 0;}
ul.navi div.mega-module .bsn-wrap .post{
	padding: 6px 0;
	margin: 0;
	border-bottom: 1px solid #001F49;
	border-top: 1px solid #003680;
}
ul.navi div.mega-module .bsn-wrap .post:first-child{border-top: none;padding-top:0;}
ul.navi div.mega-module .bsn-wrap .post:last-child{border-bottom: none;}
ul.navi div.mega-module .bsn-wrap .bsn-image{background: #002454;}
ul.navi div.mega-module.mega2 .bsn-wrap h2{float: left;width:100%;clear: both;margin: 5px 0 0;}
ul.navi div.mega-module.mega2 .bsn-wrap .bsn-image{float: none;margin: 0;padding: 5px;}

/* MEGA RTL */
ul.navirtl div.mega-content {
	position: absolute;
	top: -999em;
	padding: 0;
	margin: 0;
	display: block;
	float: right;
	
}
#meganavigator.navirtl div.level2.mega-content ul.subnavi > li.havechild{
	background:url(../images/menu-havechild-rtl.png) no-repeat 4% 13px;
}
/* mega inner */
ul.navirtl div.mega-content-inner {
	float: right;
	display: block;
	padding: 0;
	
}

/* cols */
ul.navirtl div.mega-col {margin: 0;}

/* ul on col */
ul.navirtl div.mega-content.level2 ul.megachild.level2 {
	float: right;
}

/* FOR MEGA-ITEM */
ul.navirtl div.mega-group {
	padding: 0;
	margin: 0;
	/*overflow:hidden;*/
}

ul.navirtl div.mega-group div.mega-group-title{
	
	
}
ul.navirtl div.mega-group div.mega-group-title div.separator,
ul.navirtl div.mega-group div.mega-group-title a{
	
}
ul.navirtl div.mega-group div.mega-group-title span.menu-icon{
}
ul.navirtl div.mega-group div.mega-group-title span.menu-title{
	
}
ul.navirtl div.mega-group div.mega-group-title .showdesc span.menu-title{
}
ul.navirtl div.mega-group div.mega-group-title span.menu-desc{
}

ul.navirtl div.mega-group div.mega-group-content{
	
}
ul.navirtl div.mega-group div.mega-group-content>ul.subnavi{
	background: transparent;
}
ul.navirtl div.mega-group div.mega-group-content>ul.subnavi>li{
	
}
ul.navirtl div.mega-group div.mega-group-content>ul.subnavi>li.hover{
	
}
ul.navirtl div.mega-group div.mega-group-content>ul.subnavi>li>div.separator.havechild,
ul.navirtl div.mega-group div.mega-group-content>ul.subnavi>li>a.havechild{
	
}
ul.navirtl div.mega-group div.mega-group-title div.separator,
ul.navirtl div.mega-group div.mega-group-title a{
	padding: 0 35px 0 0;
	background-position: 95% 13px;
}

ul.navirtl div.mega-col.first div.mega-group div.mega-group-title div.separator,
ul.navirtl div.mega-col.first div.mega-group div.mega-group-title a{
	padding:0 45px 0 0 ;
	background-position: 90% 13px;
}
/*FOR MEGA-MODULE*/
ul.navirtl div.mega-module {
	color: #FFF;
}

ul.navirtlrtl div.mega-module h3 {
	margin: 5px 0 10px 0;
	color: #FFF;
	font-size: 100%;
	text-transform: uppercase;
}


/* id: #mega-content-login */
ul.navi #mega-content-login #form-login p {
	display: block;
	line-height: normal;
}

ul.navi .mega-module ul {
	position: static;
}

ul.navi .mega-module ul.menu {
	margin: 0 0;
	width: auto;
	border: none;
}

ul.navi .mega-module ul.menu li {
	border-top: 1px solid #000000;
}

ul.navi .mega-module ul.menu li:first-child {
	border: none;
}

ul.navi .mega-module ul.menu li a {
	height: 25px;
	line-height: 25px;
	color: #CCCCCC;
	padding: 0 10px;
}

ul.navi .mega-module ul.menu li:hover {
	background: #000000;
	color: #FFFFFF;
}

ul.navi .mega-module ul.menu li a:hover {
	color: #FFFFFF;
}

ul.navi .mega-module #form-login input#modlgn_username,ul.navi .mega-module #form-login input#modlgn_passwd
	{
	width: 170px;
}

ul.navi .mega-module #form-login ul {
	position: static;
	margin: 10px 0 0;
	width: auto;
	border: none;
}

ul.navi .mega-module #form-login ul li {
	height: 20px;
	line-height: 20px;
	margin: 0 0;
}

ul.navi .mega-module #form-login ul li a {
	padding: 0 0;
}

ul.navi .mega-module #form-login ul li a:hover {
	text-decoration: underline;
}

ul.navi #mega-content-login #form-login p label {
	color: #FFF;
}